.oblique .oblique-image {
    transform: skewX(10deg);
}
.bg-cover, .mask {
    background-size: cover;
}
.z-index-0 {
    z-index: 0 !important;
}
.ms-n6 {
    margin-left: -4rem !important;
}
.ms-auto {
    margin-left: auto !important;
}
.h-100 {
    height: 100% !important;
}
.position-absolute {
    position: absolute !important;
}
